/var
/packages
/vendor
_env
d2r.log
.vscode
public/theme/*
.DS_Store
/composer.lock
support/backups
._
config.codekit3
/application/controllers/DonmyersController.php
/tests
/dashboard.txt
/application/views/donmyers
.env
application/config/development/*
/.env.backup
/.env.local
/.php_cs.cache
