doctype html
html
	head
		title RESTful Views
		meta(http-equiv='content-type' content='text/html;charset=UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
		link(rel='stylesheet' href='/dist/bundle.css')
	body
		#app
		script(src='/dist/bundle.js')