include ../includes/nav.pug
.container
	.row.heading
		.col-md-6
			h3
				i.fa.fa-tags
				span(rv-text='page.action')
				span(rv-text='page.title')
		.col-md-6
			.pull-right
				a.btn.btn-default.btn-sm.js-esc(rv-on-click='events.goto | wrap page.path')
					i.fa.fa-share.fa-flip-horizontal(aria-hidden='true')
					|  Go Back
	hr
	form(rv-method='form.method' rv-action='form.action')
		.form-group(rv-if='record.id')
			label(for='id') Id
			input#id.form-control(type='id' name='id' placeholder='placeholder' rv-value='record.id')
		.form-group
			label(for='name') Value on Model A
			input#modela.form-control(type='text' name='modela' placeholder='placeholder' rv-value='record.modela')
		.form-group
			label(for='name') Value on Model B
			input#modelb.form-control(type='text' name='modelb' placeholder='placeholder' rv-value='record.modelb')
		button.btn.btn-default(type='submit' rv-on-click='events.submit') Submit