include ../../includes/nav.pug
div.container
	.row.heading
		.col-md-6
			h3
				i.fa.fa-tags
				span(rv-text='page.action')
				span(rv-text='page.title')
		.col-md-6
			.pull-right
				a.btn.btn-default.btn-sm.js-esc(rv-on-click='events.goto | wrap page.path')
					i.fa.fa-share.fa-flip-horizontal(aria-hidden='true')
					|  Go Back
	hr
	form(rv-method='form.method' rv-action='form.action')
		.form-group(rv-if='record.id')
			label(for='id') Id
			input.form-control#id(type='id' name='id' placeholder="Id" rv-value='record.id')
		.form-group
			label(for='name') Name
			input.form-control#name(type='name' name='name' placeholder="Name" rv-value='record.name')
		.form-group
			label(for='type') Type
			input.form-control#type(type='type' name='type' placeholder="Type" rv-value='record.type')
		.form-group
			label(for='year') Year
			input.form-control(type='year' name='year' placeholder="Year" rv-value='record.year')
		.form-group
			input(type='checkbox' name='enabled' value='1' rv-intcheck='record.enabled')
			label(for='checkbox') Enabled

		.form-group
			.radio
				label
					input(type='radio' name='options' value='11' rv-checked='record.options')
					| Option one is this and that—be sure to include why it's great

			.radio
				label
					input(type='radio' name='options' value='22' rv-checked='record.options')
					| Option two can be something else and selecting it will deselect option one

			.radio
				label
					input(type='radio' name='options' value='33' rv-checked='record.options')
					| Option three is disabled

		.form-group
			label Select
			select.form-control(name='select' rv-value='record.select')
				option(rv-each-row='form.select' rv-value='row.id') { row.value }

		.form-group
			label Select Multiple
			select.form-control(name='mselect' rv-value='record.mselect | valuesToString' multiple)
				option(rv-each-row='form.select' rv-value='row.id') { row.value }

		button.btn.btn-default(type='submit' rv-on-click='events.submit') Submit